@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e9ebed;
  --background-color: #c8d3d7;
  --text-color: black;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: var(--background-color);
}
::-webkit-scrollbar {
  display: none;
}
.app {
  max-width: 1300px;
  margin: auto;
}
.hero-img {
  background-image: url("./assets/Images/hero1.jpg");
  background-size: cover;
  background-position: end;
  width: 75%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: white;
}
.hero2-img {
  background-image: url("./assets/Images/hero4.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 500px;
}
