@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #e9ebed;
  --background-color: #c8d3d7;
  --text-color: black;
}

html {
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: var(--background-color);
}

.app {
  max-width: 80%;
  margin: auto;
}
.hero-img {
  background-image: url("./assets/Images/hero1.jpg");
  background-size: cover;
  background-position: end;
  width: 75%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}
.hero2-img {
  background-image: url("./assets/Images/hero4.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 500px;
}
.active {
  background-color: var(--primary-color);
  color: black;
  border: 2px solid black;
  font-weight: bold;
}
@media (max-width: 640px) {
  .hero-img {
    width: 100%;
    height: 320px;
    align-items: flex-end;
    padding: 1.2rem;
    background-position: center;
  }
  .hero-img h1 {
    font-size: 2rem;
    text-align: left;
  }
  .hero-img p {
    font-size: 1rem;
    text-align: left;
  }
  .hero2-img {
    display: none;
  }
}

@media (max-width: 1024px) {
 
  .hero-img {
    width: 100%;
    height: 380px;
    padding: 1.5rem;
    flex-direction: column;
    background-position: center;
  }
  .hero2-img {
    display: none;
  }
}
